.addform__container {
  padding: 2rem;
  margin: 2rem 0;
}

.addform {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addform__label {
  font-size: 1.7rem;
  font-weight: bold;
}

.addform__input {
  background-color: rgba(256, 256, 256, 0.7);
  font-family: 'Gowun Batang', serif;
  border: none;
  padding: 0.5rem;
  width: 70%;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}
